<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Masum Dance Academi Dance Academi</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <nav id="navbar">
        <strong>MDA</strong>
        <img src="../static/logo.png" alt="">
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Services</a></li>
            <li><a href="">Class-Info</a></li>
            <li><a href="">Contact-Us</a></li>
        </ul>
    </nav>
    <section id="first">
        <h1>Welcome to Masum Dance Academi</h1>
        <h3>Eat Sleep Dance Repeat</h3>
    </section>
    <section id="second">
        <h1>Our Mission</h1>
        <div class="dancer">
            <div class="mission">
                <h3>Dance Perfection</h3>
                <img src="../static/img-1.png" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, exercitationem!</p>
            </div>
            <div class="mission">
                <h3>Dance the way you like</h3>
                <img src="../static/img-2.png" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, exercitationem!</p>
            </div>
            <div class="mission">
                <h3>Expert teaching</h3>
                <img src="../static/img-3.png" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, exercitationem!</p>
            </div>
        </div>
    </section>
    <section id="third">
        <h1>Our Sponsors</h1>
        <div class="sponsors">
            <img src="../static/spon (1).jpg" alt="">
            <img src="../static/spon (2).jpg" alt="">
            <img src="../static/spon (3).jpg" alt="">
            <img src="../static/spon (4).jpg" alt="">
            <img src="../static/spon (5).jpg" alt="">
        </div>
    </section>
    <footer>
        Copyright &copy; 2023 MasumDanceAcademi.com | All Right Reversed
    </footer>
</body>
</html>